{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block title %}IP Lookup{% endblock %}</h1>

{% block content %}
<div class="container">
    <form method="POST" action="/dns/security-records">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-4">
                <input id="domain" placeholder="Escribe el Dominio" type="text" name="domain"
                    value="{{value.domain if value else ''}}" class="form-control"
                    aria-describedby="basic-addon1">
            </div>
            <div class="col-2" id="dkim">
                <input id="selector" placeholder="Selector" type="text" name="selector"
                    value="{{value.selector if value else ''}}" class="form-control"
                    aria-describedby="basic-addon1">
            </div>
            <div class="col-auto">
                <select onselect="elementShowDKIM(this)" onchange="elementShowDKIM(this)" name="record" id="record" class="form-select" aria-label="Default select example">
                    <option selected>Security Records</option>
                    <option {% if record == "SPF" %} selected {% endif %} value="SPF">SPF</option>
                    <option {% if record == "DMARC" %} selected {% endif %} value="DMARC">DMARC</option>
                    <option {% if record == "DKIM" %} selected {% endif %} value="DKIM">DKIM</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> &nbsp; Buscar</button>
            </div>
        </div>
    </form>
    {% if value %}
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    Result : <strong>{{value.result}}</strong>
                </div>
            </div>
        </div>
    </div>
    {%endif %}
</div>

{% endblock %}

{% block script %}
<script>
    let dkim = document.getElementById("dkim")
    dkim.style.display = "none";

    let record = document.getElementById("record")
    
    if (record.value =="DKIM"){
            document.getElementById("dkim").style.display = "block";
        }else{
            dkim.style.display = "none";
    }

    function elementShowDKIM(element){
        if (element.value =="DKIM"){
            document.getElementById("dkim").style.display = "block";
        }else{
            dkim.style.display = "none";
        }
    }
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}